@font-face {
    font-family: 'Source Sans Pro';
    url("../fonts/SFProDisplay-Regular.woff") format('woff'),;
    url("../fonts/fonts/FontsFree-Net-SFProDisplay-Regular.woff2") format('woff2');
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #E5E5E5;
}

a {
    color: black;
    text-decoration: none;
}

.df {
    display: flex;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

header {
    background: #FA8C16;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    color: #FFFFFF;
}

.header__logo {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 58px;
    color: #FFFFFF;
}

.nav-bar {
    display: flex;
}

.nav-link {
    font-size: 14px;
    line-height: 22px;
    margin-right: 15px;
    color: #FAFAFA;
    cursor: pointer;
}

.nav-link:last-child {
    margin-right: 0;
}

.header__search {
    position: relative;
}

input[type="search"] {
    color: #BFBFBF;
}

input[type="search"]::-moz-placeholder {
    color: #BFBFBF;
}
input[type="search"]::-webkit-input-placeholder { color: #BFBFBF; }
input[type="search"]:-ms-input-placeholder { color: #BFBFBF; }
input[type="search"]::-ms-input-placeholder { color: #BFBFBF; }
input[type="search"]::placeholder { color: #BFBFBF; }

.header__search--input {
    padding: 12px 5px;
    width: 237px;
    height: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    color: #BFBFBF;
}

.header__search--icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

section {
    padding-top: 30px;
}

.post__container {
    width: 66%;
    margin-bottom: 30px;
}

.post__container--main-block {
    padding: 35px 36px 22px 36px;
    color: #262626;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
}

.post__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 19px;
}

.post__description {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

.post__description p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

.post__tags {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
}

.post__tags p {
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.post__tags p:hover {
    color: #262626;
    transition: 0.3s;
}

.post__tags p:last-child {
    margin-right: 0;
}

.post__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 36px;
    background: #FAFAFA;
    border: 1px solid #E8E8E8;
}

.post__footer--info {
    display: flex;
    align-items: center;
    color: #8C8C8C;
    margin-right: 29px;
    cursor: pointer;
    transition: 0.3s;
}

.post__footer--info:hover {
    color: #262626;
    transition: 0.3s;
}

.post__footer--info:last-child {
    margin-right: 0;
}

.post__footer--info img {
    margin-right: 5px;
}

.post__footer--profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post__footer--profile-info {
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    margin-right: 9px;
}

.profile-info__name {
    color: #8C8C8C;
    transition: 0.3s;
}

.profile-info__name:hover {
    color: #000000;
    transition: 0.3s;
}

.profile-info__time {
    color: #BFBFBF;
}

.post__footer--profile-icon img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
