@font-face {
    font-family: "SFProDisplay-Regular";
    src: local("SFProDisplay-Regular"),
    url("../fonts/SFProDisplay-Regular.woff") format('woff'),
    url("../fonts/SFProDisplay-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'SFProDisplay-Semibold';
    src: local("SFProDisplay-Semibold"),
    url("../fonts/SFProDisplay-Semibold.woff") format('woff'),
    url("../fonts/SFProDisplay-Semibold.woff2") format('woff2');
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "SFProDisplay-Regular";
    background: #E5E5E5;
}

a {
    color: black;
    text-decoration: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.post__footer--icon {
    width: 24px;
    height: 24px;
}

.post__footer--icon--mr {
    margin-right: 5px;
}

.df {
    display: flex;
}

.align-items {
    align-items: center;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FA8C16;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
    z-index: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    color: #FFFFFF;
}

.header__logo {
    font-family: 'SFProDisplay-Semibold';
    font-size: 16px;
    line-height: 24px;
    margin-right: 58px;
    color: #FFFFFF;
}

.nav-bar {
    display: flex;
}

.nav-link {
    font-size: 14px;
    line-height: 22px;
    margin-right: 15px;
    color: #FAFAFA;
    cursor: pointer;
}

.nav-link:last-child {
    margin-right: 0;
}

.header__search {
    position: relative;
}

.search--icon {
    width: 16px;
    height: 16px;
    fill: #FA8C16;
}

input[type="search"] {
    color: #BFBFBF;
}

input[type="search"]::-moz-placeholder {
    color: #BFBFBF;
}

input[type="search"]::-webkit-input-placeholder {
    color: #BFBFBF;
}

input[type="search"]:-ms-input-placeholder {
    color: #BFBFBF;
}

input[type="search"]::-ms-input-placeholder {
    color: #BFBFBF;
}

input[type="search"]::placeholder {
    color: #BFBFBF;
}

.header__search--input {
    padding: 12px 5px;
    width: 237px;
    height: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    color: #BFBFBF;
}

.header__search--icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

#hamburger {
    display: none;
}

section {
    padding-top: 30px;
}

.main-container {
    position: relative;
    justify-content: space-between;
    margin-top: 64px;
}

.posts {
    width: 66%;
}

.post__container {
    margin-bottom: 30px;
}

.post__container--main-block {
    padding: 35px 36px 22px 36px;
    color: #262626;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
}

.post__title {
    font-family: 'SFProDisplay-Semibold';
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 19px;
}

.post__description {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

.post__description p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

.post__tags {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
}

.post__tags p {
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.post__tags p:hover {
    color: #262626;
    transition: 0.3s;
}

.post__tags p:last-child {
    margin-right: 0;
}

.post__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 36px;
    background: #FAFAFA;
    border: 1px solid #E8E8E8;
}

.post__footer--info {
    display: flex;
    align-items: center;
    color: #8C8C8C;
    margin-right: 29px;
    cursor: pointer;
    transition: 0.3s;
}

.post__footer--info:hover {
    color: #262626;
    transition: 0.3s;
}

.post__footer--info:last-child {
    margin-right: 0;
}

.post__footer--info .icon {
    fill: #8C8C8C;
}

.post__footer--profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post__footer--profile-info {
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    margin-right: 9px;
}

.profile-info__name {
    color: #8C8C8C;
    transition: 0.3s;
}

.profile-info__name:hover {
    color: #000000;
    transition: 0.3s;
}

.profile-info__time {
    color: #BFBFBF;
}

.post__footer--profile-icon img {
    width: 34px;
    height: 34px;
    border-radius: 12px;
    object-fit: cover;
}

.post__icon--like:hover {
    fill: #262626;
}

aside {
    height: 100%;
    width: 31%;
}

.right-side--profile {
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
}

.side-profile__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    background: #FAFAFA;
    border-bottom: 1px solid #E8E8E8;
}

.side-profile__header--img {
    width: 40px;
    height: 40px;
    margin-right: 17px;
    border-radius: 100%;
    object-fit: cover;
}

.side-profile__header--name {
    font-family: 'SFProDisplay-Semibold';
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    cursor: default;
}

.exit-profile {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.aside-item {
    padding: 16px 16px 16px 48px;
    cursor: pointer;
    transition: 0.3s;
    border-right: 3px solid transparent;
}

.aside-item:hover {
    background: #FFFBE6;
    transition: 0.3s;
}

.aside-item--active {
    background: #FFFBE6;
    color: #FAAD14;
    border-right: 3px solid #FAAD14;
    transition: 0.3s;
}

.send-post__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FAAD14;
    color: #FFFFFF;
    padding: 13px 16px 13px 36px;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-icon__post {
    position: absolute;
    top: 50%;
    left: 16px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    fill: #FFFFFF;
}

.send-post__btn:hover {
    background: #d69513;
    transition: 0.3s;
}

.right-side--comment-day {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    margin-bottom: 20px;
}

.comment-day--title {
    font-family: 'SFProDisplay-Semibold';
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    background: #FAFAFA;
    padding: 23px 25px;
}

.comment-day__post {
    padding: 22px 40px 30px 25px;
}

.comment-day__post--title {
    font-family: 'SFProDisplay-Semibold';
    font-size: 16px;
    line-height: 24px;
    color: #D48806;
    margin-bottom: 10px;
}

.comment-day__post--description {
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.right-side--bottom {
    position: relative;
    width: 100%;
    height: 261px;
    background: url("../img/block-img.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}

.right-side--bottom span {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 12px;
    line-height: 20px;
    text-align: center;

    width: 99px;
    height: 21px;

    background: #C4C4C4;
    color: #FFFFFF;
}

.visuallyHidden {
    display: none;
}

.hamburger {
    display: none;
    width: 24px;
    height: 24px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 24px;
    height: 4px;
    background-color: #FFFFFF;
    display: block;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 10px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox2:checked + label > .hamburger > .bar1{
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox2:checked + label > .hamburger > .bar2{
    transform: rotate(45deg);
}

.checkbox2:checked + label > .hamburger > .bar3{
    transform: rotate(-45deg);
}

.checkbox2:checked + label > .hamburger > .bar4{
    transform: translateX(-40px);
    background-color: transparent;
}

.form-post {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.form-post__input {
    width: 100%;
    margin-bottom: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 31px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
}

.form-post__textarea {
    width: 100%;
    height: 340px;
    padding: 23px 31px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    margin-bottom: 30px;
}

.forms__btns {
    display: flex;
    align-items: center;
}

.form-post__send {
    width: 370px;
    margin-right: 36px;
}

.form-post__add-video {
    width: 125px;
    margin-right: 12px;
    background: #FFFFFF;
    border: 1px solid #FFC53D;
    border-radius: 4px;
    color: #FFC53D;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.0015));
}

.form-post__add-img {
    width: 125px;
    background: #FFFFFF;
    border: 1px solid #FFC53D;
    border-radius: 4px;
    color: #FFC53D;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.0015));
}

.form-post__video--icon {
    fill: #FFC53D;
}

@media (max-width: 1023px) {
    .main-container {
        position: static;
    }

    #hamburger {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .aside {
        position: fixed;
        top: 64px;
        right: 0;
        height: auto;
        transform: translateX(100%);
        transition: transform 0.3s;
        overflow-y: auto;
    }

    .aside.show {
        transform: translateX(0);
    }

    .right-side--profile {
        margin-bottom: 0;
    }

    .posts {
        width: 100%;
    }

    .header__logo {
        margin-right: 0;
    }

    .nav-bar__items {
        display: none;
    }

    .right-side--comment-day, .right-side--bottom {
        display: none;
    }

    .form-post {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .aside {
        width: 80%;
    }

    .header__search--input {
        width: 100%;
    }

    .post__tags {
        align-items: normal;
        flex-direction: column;
    }

    .post__footer {
        align-items: flex-end;
        flex-direction: column;
    }

    .post__footer--profile {
        margin-top: 12px;
    }

    .post__footer--info {
        margin-right: 16px;
    }

    .post__footer--icons {
        justify-content: space-between;
        width: 100%;
    }

    .forms__btns {
        flex-direction: column-reverse;
    }

    .form-post__send,
    .form-post__add-video,
    .form-post__add-img {
        width: 100%;
        margin-right: 0;
    }
}
